body{
    background-color: #131212;
    font-family: 'Poppins';
}
.navbar .nav-item .nav-link{
    color: white;
    transition: .3s ease;
}
.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:hover{
    font-weight: bold;
    color: #00BD95;

}

.navbar button{
    background-color: #00BD95;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .3s ease;
}
.navbar button:hover, .navbar button:focus{
    background-color: transparent;
    border-color: #00BD95;
    color: #00BD95;
}


/* ----------------------------------General changes-------------------------------------------- */
.text-color{
    color: #00BD95;
}
.para-color{
    color: rgb(193, 193, 194);
}
.button-style{
    background-color: #00BD95;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .3s ease;
}

/* ----------------------------------General changes-------------------------------------------- */






/* ----------------------------------Home start-------------------------------------------- */

.home{
    margin-top: 100px;
}
.home .telegram{
    color: white;
    font-size: 20px;
    background-color: red;
}
.home .telegram-btn{
    background-color: transparent;
    border-color: #00BD95;
    color: #00BD95;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .3s ease;
}
.home .social-icons i{
    font-size: 20px;
    color: white;
    background-color: #00BD95;
    border-radius: 8px;
    padding: 10px 15px; 
}
.home .col-top{
    margin-top: 60px;
}





/* ----------------------------------Home end-------------------------------------------- */




/* ----------------------------------about start-------------------------------------------- */

.about{
    margin-top: 150px;
}
.about p{
    text-align: justify;
}


/* ----------------------------------about end-------------------------------------------- */


